.image{
    border: 10px solid rgba(56, 23, 23, 0.918);
}

.btn{
    font-family: Montserrat;
}

.head{
    font-family: Montserrat;
    font-size: 2.2rem;
    font-weight: 700;
    color: white;

}

.vack{
    background-image:  linear-gradient(90deg,rgba(10, 10, 10, 0.863) , rgba(107, 16, 211, 0)),  url(../../../assets/images/welcome.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    border: none;
    
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Montserrat;

    
}
.vack3{
    background-image: linear-gradient(90deg,rgba(10, 10, 10, 0.863) , rgba(107, 16, 211, 0)), url(../../../assets/images/welcome2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    border: none;
    
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Montserrat;

    
}
.vack2{
    background-image:  linear-gradient(90deg,rgba(10, 10, 10, 0.863) , rgba(107, 16, 211, 0)), url(../../../assets/images/welcome4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    border: none;
    
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Montserrat;

    
}



