.title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: Montserrat;
}

.form-card{
    background-color: #D0F0C0;
    border: none;
}

.encoder-head{
    font-family: Montserrat;
    font-size: 2.8rem;
    font-weight: 700;
    color: rgb(7, 7, 7);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.para{
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(7, 7, 7);
    text-align: center;
}

/* To change colors of LPS Encoder card */
@keyframes colorChange {
    0% { background-color: #fa8d8d; }  /* light red */
    25% { background-color: #f8d189; }  /* light orange */
    50% { background-color: #f7f78f; }  /* light yellow */
    75% { background-color: #91f791; }  /* light green */
    100% { background-color: #85f3f3; }  /* light blue */
  }
  
  .lps-encoder-card {
    animation: colorChange 5s infinite;
  }